body {
    margin: 0;
    height: 100%;
    position: absolute;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 250px);
    height: 100%;

    background: var(--fundo);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    z-index: -1;
}

#botao {
    width: 300px;
    height: 50px;
    font-weight: bold;
    background-color:black;
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

#botao2 {
    width: 300px;
    height: 50px;
    font-weight: bold;
    background-color:white;
    color: black;
    margin-top: 150px;
    margin-left: 50px;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

#menu-itens {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color:rgb(199, 199, 240);
}

#armas {
    width: 250px;
    height: auto;
    background-color: gray;
    position: absolute;
    top: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.arma {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#arma1, #arma2, #arma3,
#arma4, #arma5, #arma6 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

#arma1:hover, #arma2:hover, #arma3:hover,
#arma4:hover, #arma5:hover, #arma6:hover {
    width: 70px;
    height: 70px;
} 

#arma1 {
    background-color: red;
}

#arma2 {
    background-color: blue;
}

#arma3 {
    background-color: brown;
}

#arma4 {
    background-color: yellow;
}

#arma5 {
    background-color: green;
}

#arma6 {
    background-color: orange;
}

.balao {
    position: absolute;
    border-radius: 50%;
}

.atirador {
    position: absolute;
    border-radius: 50%;
}

.selecionado {
    border: 3px solid #1b9ade;
    box-shadow:
        0 0 5px #1b9ade,
        0 0 10px #1b9ade,
        0 0 20px #1b9ade,
        0 0 40px #1b9ade;
}